In [9]:
from os.path import abspath, dirname, join

import plotly.graph_objects as go
import plotly.express as px

import pandas as pd

import plotly.express as px
import numpy as np

import requests

# C:\Users\antoi\Documents\Programming\portfolio-advisor\dashboard

data_path = 'dashboard/data/tickers_september_2017.xlsx'

In [4]:
def get_tickers():
    with open(data_path, 'rb') as fp:
        stock_df = pd.read_excel(fp)
        stock_df = stock_df.dropna()
        # stock_df = stock_df.where(pd.notnull(stock_df), None)
        return stock_df


df = get_tickers()

In [5]:
df.head()

,Ticker,Name,Exchange,Category Name,Country
1,AAPL,Apple Inc.,NMS,Electronic Equipment,USA
2,BAC,Bank of America Corporation,NYQ,Money Center Banks,USA
3,AMZN,"Amazon.com, Inc.",NMS,Catalog & Mail Order Houses,USA
4,T,AT&T Inc.,NYQ,Telecom Services - Domestic,USA
5,GOOG,Alphabet Inc.,NMS,Internet Information Providers,USA

In [37]:
def update_current_ratio(row):
    ticker = row['Ticker']
    bs = requests.get(f'https://financialmodelingprep.com/api/v3/financials/balance-sheet-statement/{ticker}?period=quarter')
    bs = bs.json()
    
    try:
        total_assets = bs.get("financials")[0].get("Total assets")
        total_liabilities = bs.get("financials")[0].get('Total liabilities')
        try:
            ratio = float(total_assets)/float(total_liabilities)
        except ZeroDivisionError:
            print("total_liabilities: ", ticker, " ", total_liabilities)
    except TypeError:
        print("ticker: ", ticker)

In [38]:
df['ratio']=df.apply(update_current_ratio,axis=1)

ticker:  ABX
ticker:  BMH.AX
ticker:  BRK.AX
ticker:  AGU
ticker:  STO
ticker:  ACXM
ticker:  ABX
ticker:  BMH.AX
ticker:  BRK.AX
ticker:  AGU
ticker:  STO
ticker:  ACXM

ZeroDivisionError: float division by zero